.link {
    font-weight: 500;
}


.container1 {
    gap: 16px;
    align-items: center;
}

.container2 {
    gap: 24px;
}

.innerflexbox {
    position: relative;
}

.innerflexboxImg {

    position: absolute;
    left: 2.5%;
    top: 33%;
    padding-right: 4%;
}

.Input {
    width: 230px;
    border-radius: 3px;
    background: var(--light-states-on-background-high-contrast-opacity-012, rgba(33, 33, 33, 0.12));
}
.searchIcon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: auto
}