.mainContainer {
    padding: 2.778% 3.542% 2.778% 1.542%;
    width: 95%;
        margin: auto;
    text-align: left;
    background-color: rgb(244, 236, 249);
    
        margin-bottom: 50px;
}

.text1 {
    padding-left: 32px;
    color: #2A2A2A;
    font-size: 100%;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.text2 {
    color: #2A2A2A;
    font-size: 85%;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;

}